name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libffi-dev libssl-dev autoconf libtool pkg-config zlib1g-dev adb libltdl-dev libgmp-dev libmpfr-dev libmpc-dev
          pip install --upgrade buildozer Cython==0.29.33

      - name: Build with Buildozer
        run: |
          yes y | buildozer android debug
        env:
          TERM: xterm

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MP3-Player-APK
          path: bin/*.apk
